<nav
	class="fixed top-0 left-0 bg-primary text-secondary p-4 w-full sm:max-w-xs z-10 h-full"
	[ngClass]="{
		'translate-x-0': menuActive,
		'-translate-x-full': !menuActive
	}"
>
	<header class="inline-flex gap-4">
		<div class="w-[32px] h-[32px]"></div>
		<h1 class="text-lg font-bold">Maps App</h1>
	</header>
	<ul class="flex flex-col">
		<li
			class="inline-flex gap-2 items-center"
			*ngFor="let item of menuItems"
			[routerLink]="item.route"
		>
			<img
				[src]="item.icon"
				[alt]="item.label"
			/><span>{{ item.label }}</span>
		</li>
	</ul>
</nav>
