<section class="bg-white p-3">
	<div class="text-center py-10">
		<h1 class="text-2xl font-bold text-primary mb-4">
			Lista de Propiedades
		</h1>
		<p class="text-md text-primary/60">
			Éstas son las magníficas posesiones que me pertenecen.
		</p>
	</div>
	<div class="px-8 py-10">
		<div class="grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
			<div
				*ngFor="let property of houses"
				class="bg-secondary rounded-md shadow"
			>
				<maps-mini-map [lng_lat]="property.lngLat" />
				<div class="flex flex-col gap-2 p-3">
					<h2
						class="text-lg font-bold text-primary transition-colors duration-200 hover:text-primary/80"
					>
						{{ property.title }}
					</h2>
					<p class="mb-4 text-primary/60">
						{{ property.description }}
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
