<section #map></section>

<ul
	class="fixed top-3 right-3 flex flex-col gap-1 text-secondary shadow bg-transparent"
>
	<li
		*ngFor="let marker of markerList; let i = index"
		[ngStyle]="{ backgroundColor: marker.color }"
		class="px-6 py-2 rounded-md cursor-pointer hover-scale-anim"
		(dblclick)="deleteMarker(i)"
		(click)="flyToMarker(marker.marker)"
	>
		<p>Marca {{ i + 1 }}</p>
	</li>
</ul>

<button
	class="fixed bottom-20 right-3 z-10 bg-secondary text-primary rounded-md px-6 py-2 shadow hover-scale-anim"
	(click)="createMarker()"
>
	<p>Marcador central</p>
</button>
